*.class
doc/**

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin

.DS_Store
**/.DS_Store
/target/
.settings/

#IntelliJ startup stuff, ignored / compiled directories
.idea/**
out/**
target/**

#Derp folder
src/derp

